body {
  background-color: #FAF5ED;
}

main .services {
  background-color: #FAF5ED;
}

main .services .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-bottom: 20px;
}

.service {
  cursor: pointer;
  transition: transform 500ms;
}

.service:hover {
  transform: scale(1.01);
}

main .services .container .services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

main .services .container .services-grid .service {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

width: 310px;
}

main .services .container .services-grid .service img {
  width: 100%;
  max-width: 220px;
}

main .services .container .services-grid .service h4,
main .services .container .services-grid .service p {
  text-align: center;
}

main .services .container .services-grid .service h4 {
  font-size: 24px;
}

main .services .container .services-grid .service p {
  font-size: 16px;
}

.price {
  font-size: 16px;
  text-align: center;
  font-family: "Bungee Spice", Arial, Helvetica, sans-serif;
}

/* Responsive - Optimisation gaps, margins et paddings */
@media (max-width: 1024px) {


  main .services .container .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

  }


}

@media (max-width: 767px) {


  main .services .container .services-grid {
    grid-template-columns: 1fr;
    gap: 20px;

  }

 

  .menuTitle {
    margin-top: 60px;
    padding-bottom: 10px;
  }
}

@media (max-width: 480px) {


  main .services .container .services-grid {
    gap: 20px;

  }



  .menuTitle {
    margin-top: 80px;
    padding-bottom: 5px;
  }
}


.burger-partition,
.message,
.menuTitle {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuName {
  font-family: "Bungee Inline", cursive;
  font-size: 28px;
}

.message {
  color: brown;
  font-size: 16px;
}

.menuTitle {
  font-size: 24px;
}

a {
  color: black;
  text-decoration: none;
}
